<h1>Formulário para cadatrar pagamento</h1>

{{!-- o action diz que o usuário será levado para tal página e o method é usado para o tipo de envio dos dados --}}
<form action="/add-pagamento" method="post">
    <label>Nome</label>
    <input type="text" name="nome"><br><br>
    
    <label>Valor</label>
    <input type="text" name="valor"><br><br>

    <button type="submit">Cadastrar</button>
</form>